{% if page.lang == "ro" %}
### Întrebări? Sugestii?

Ai sugestii pentru îmbunătățirea acestui manual? Idei pentru alte misiuni? Sau ai vrea să înveți să îl predai? <strong>[Scrie-ne un email](mailto:tangomanual@gmail.com?subject=Feedback (v.{{page.manual_version}})).</strong>
{% else %}
### Questions? Feedback?

Do you have suggestions for improving this manual? Ideas for different missions? Or, would you like to learn to teach it? <strong>[Email us](mailto:tangomanual@gmail.com?subject=Feedback (v.{{page.manual_version}})).</strong>
{% endif %}
